<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="       
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd       
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd       
      http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd       
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd       
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-autowire="byName">
	<context:annotation-config />

	<context:component-scan base-package="com.ruoogle.teach">
		<context:exclude-filter type="regex"
			expression="com\.ruoogle\.teach\.controller\..*" />
	</context:component-scan>

	<!-- 导入属性配置文件 -->
	<context:property-placeholder location="classpath:mysql.properties" />
	<!-- <context:property-placeholder location="classpath:memcached.properties" 
		/> -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${mysql.driver}" />
		<property name="url" value="${mysql.url}" />
		<property name="username" value="${mysql.user}"></property>
		<property name="password" value="${mysql.pass}"></property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!--配置哪些方法,什么情况下需要回滚 -->
	<tx:advice id="serviceAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="del*" propagation="REQUIRED" rollback-for="Throwable" />
			<tx:method name="update*" propagation="REQUIRED"
				rollback-for="Throwable" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<aop:config proxy-target-class="true">
		<aop:pointcut id="servicePointcut"
			expression="execution(* com.ruoogle.teach.transaction.*.*(..))" />
		<aop:advisor pointcut-ref="servicePointcut" advice-ref="serviceAdvice" />
	</aop:config>

	<bean id="classMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.ruoogle.teach.mapper.ClassMapper" />
	</bean>
	<bean id="courseapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.ruoogle.teach.mapper.CourseMapper" />
	</bean>
	<bean id="coursePercentTypeGroupMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.CoursePercentTypeGroupMapper" />
	</bean>
	<bean id="coursePercentTypeGroupStudentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.CoursePercentTypeGroupStudentMapper" />
	</bean>
	<bean id="coursePercentTypeGroupStudentScoreMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.CoursePercentTypeGroupStudentScoreMapper" />
	</bean>


	<bean id="coursePercentTypeStageMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.CoursePercentTypeStageMapper" />
	</bean>
	<bean id="coursePropertyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.CoursePropertyMapper" />
	</bean>
	<bean id="courseScorePercentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.CourseScorePercentMapper" />
	</bean>
	<bean id="courseScorePercentPropertyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.CourseScorePercentPropertyMapper" />
	</bean>
	<bean id="courseStudentPropertyScoreMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.CourseStudentPropertyScoreMapper" />
	</bean>
	<bean id="courseStudentPropertySemesterScoreMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.CourseStudentPropertySemesterScoreMapper" />
	</bean>
	<bean id="courseStudentScoreMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.CourseStudentScoreMapper" />
	</bean>
	<bean id="courseStudentTotalScoreMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.CourseStudentTotalScoreMapper" />
	</bean>
	<bean id="profileMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.ruoogle.teach.mapper.ProfileMapper" />
	</bean>
	<bean id="courseStudentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.ruoogle.teach.mapper.CourseStudentMapper" />
	</bean>
	<bean id="coursePercentTypeDemoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.CoursePercentTypeDemoMapper" />
	</bean>
	<bean id="specialtyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.ruoogle.teach.mapper.SpecialtyMapper" />
	</bean>
	<bean id="feedBackMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.ruoogle.teach.mapper.FeedBackMapper" />
	</bean>
	<bean id="interactiveMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.ruoogle.teach.mapper.InteractiveMapper" />
	</bean>
	<bean id="journalMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.ruoogle.teach.mapper.JournalMapper" />
	</bean>

	<bean id="semesterMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.ruoogle.teach.mapper.SemesterMapper" />
	</bean>
	<bean id="schoolInfoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.ruoogle.teach.mapper.SchoolInfoMapper" />
	</bean>


	<bean id="profilePropertyMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.ProfilePropertyMapper" />
	</bean>

	<bean id="interactiveBackMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface"
			value="com.ruoogle.teach.mapper.InteractiveBackMapper" />
	</bean>
	<bean id="teachMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
		<property name="mapperInterface" value="com.ruoogle.teach.mapper.TeachMapper" />
	</bean>



</beans>