<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>thumbnail</key>
		<string>phoneShell-0</string>
		<key>type</key>
		<integer>1</integer>
		<key>size_width</key>
		<integer>195</integer>
		<key>size_height</key>
		<integer>419</integer>
		<key>images</key>
		<array>
			<dict>
				<key>ori_x</key>
				<string>5</string>
				<key>ori_y</key>
				<string>5</string>
				<key>ori_width</key>
				<string>190</string>
				<key>ori_height</key>
				<string>414</string>
			</dict>
		</array>
		<key>texts</key>
		<array/>
		<key>New item</key>
		<dict>
			<key>font_size</key>
			<string>17</string>
			<key>font</key>
			<string>Times</string>
			<key>text</key>
			<string>SAM &amp; CLAIRE</string>
			<key>ori_x</key>
			<string>90</string>
			<key>ori_y</key>
			<string>897</string>
			<key>ori_width</key>
			<string>333</string>
			<key>ori_height</key>
			<string>40</string>
		</dict>
	</dict>
	<dict>
		<key>thumbnail</key>
		<string>phoneShell-1</string>
		<key>type</key>
		<integer>1</integer>
		<key>size_width</key>
		<integer>195</integer>
		<key>size_height</key>
		<integer>419</integer>
		<key>images</key>
		<array>
			<dict>
				<key>ori_x</key>
				<string>5</string>
				<key>ori_y</key>
				<string>5</string>
				<key>ori_width</key>
				<string>190</string>
				<key>ori_height</key>
				<string>414</string>
			</dict>
		</array>
		<key>texts</key>
		<array/>
		<key>New item</key>
		<dict>
			<key>font_size</key>
			<string>17</string>
			<key>font</key>
			<string>Times</string>
			<key>text</key>
			<string>SAM &amp; CLAIRE</string>
			<key>ori_x</key>
			<string>90</string>
			<key>ori_y</key>
			<string>897</string>
			<key>ori_width</key>
			<string>333</string>
			<key>ori_height</key>
			<string>40</string>
		</dict>
	</dict>
	<dict>
		<key>thumbnail</key>
		<string>phoneShell-2</string>
		<key>type</key>
		<integer>1</integer>
		<key>size_width</key>
		<integer>195</integer>
		<key>size_height</key>
		<integer>419</integer>
		<key>images</key>
		<array>
			<dict>
				<key>ori_x</key>
				<string>5</string>
				<key>ori_y</key>
				<string>5</string>
				<key>ori_width</key>
				<string>190</string>
				<key>ori_height</key>
				<string>414</string>
			</dict>
		</array>
		<key>texts</key>
		<array/>
		<key>New item</key>
		<dict>
			<key>font_size</key>
			<string>17</string>
			<key>font</key>
			<string>Times</string>
			<key>text</key>
			<string>SAM &amp; CLAIRE</string>
			<key>ori_x</key>
			<string>90</string>
			<key>ori_y</key>
			<string>897</string>
			<key>ori_width</key>
			<string>333</string>
			<key>ori_height</key>
			<string>40</string>
		</dict>
	</dict>
	<dict>
		<key>thumbnail</key>
		<string>phoneShell-3</string>
		<key>type</key>
		<integer>1</integer>
		<key>size_width</key>
		<integer>195</integer>
		<key>size_height</key>
		<integer>419</integer>
		<key>images</key>
		<array>
			<dict>
				<key>ori_x</key>
				<string>5</string>
				<key>ori_y</key>
				<string>5</string>
				<key>ori_width</key>
				<string>190</string>
				<key>ori_height</key>
				<string>414</string>
			</dict>
		</array>
		<key>texts</key>
		<array/>
		<key>New item</key>
		<dict>
			<key>font_size</key>
			<string>17</string>
			<key>font</key>
			<string>Times</string>
			<key>text</key>
			<string>SAM &amp; CLAIRE</string>
			<key>ori_x</key>
			<string>90</string>
			<key>ori_y</key>
			<string>897</string>
			<key>ori_width</key>
			<string>333</string>
			<key>ori_height</key>
			<string>40</string>
		</dict>
	</dict>
</array>
</plist>
