<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>thumbnail</key>
		<string>screenshot1.png</string>
		<key>type</key>
		<integer>1</integer>
		<key>size_width</key>
		<integer>630</integer>
		<key>size_height</key>
		<integer>1136</integer>
		<key>images</key>
		<array>
			<dict>
				<key>ori_x</key>
				<string>71</string>
				<key>ori_y</key>
				<string>123</string>
				<key>ori_width</key>
				<string>500</string>
				<key>ori_height</key>
				<string>900</string>
			</dict>
		</array>
		<key>texts</key>
		<array/>
		<key>New item</key>
		<dict>
			<key>font_size</key>
			<string>17</string>
			<key>font</key>
			<string>Times</string>
			<key>text</key>
			<string>SAM &amp; CLAIRE</string>
			<key>ori_x</key>
			<string>90</string>
			<key>ori_y</key>
			<string>897</string>
			<key>ori_width</key>
			<string>333</string>
			<key>ori_height</key>
			<string>40</string>
		</dict>
	</dict>
</array>
</plist>
