<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Profile" type="com.ruoogle.teach.meta.Profile" />
		<typeAlias alias="Class" type="com.ruoogle.teach.meta.Class" />
		<typeAlias alias="Course" type="com.ruoogle.teach.meta.Course" />
		<typeAlias alias="CoursePercentTypeGroup"
			type="com.ruoogle.teach.meta.CoursePercentTypeGroup" />
		<typeAlias alias="CoursePercentTypeGroupStudent"
			type="com.ruoogle.teach.meta.CoursePercentTypeGroupStudent" />
		<typeAlias alias="CoursePercentTypeGroupStudentScore"
			type="com.ruoogle.teach.meta.CoursePercentTypeGroupStudentScore" />
		<typeAlias alias="CoursePercentTypeStage"
			type="com.ruoogle.teach.meta.CoursePercentTypeStage" />
		<typeAlias alias="CourseProperty" type="com.ruoogle.teach.meta.CourseProperty" />
		<typeAlias alias="CourseScorePercent" type="com.ruoogle.teach.meta.CourseScorePercent" />
		<typeAlias alias="CourseScorePercentProperty"
			type="com.ruoogle.teach.meta.CourseScorePercentProperty" />
		<typeAlias alias="CourseStudentPropertyScore"
			type="com.ruoogle.teach.meta.CourseStudentPropertyScore" />
		<typeAlias alias="CourseStudentPropertySemesterScore"
			type="com.ruoogle.teach.meta.CourseStudentPropertySemesterScore" />
		<typeAlias alias="CourseStudentScore" type="com.ruoogle.teach.meta.CourseStudentScore" />
		<typeAlias alias="CourseStudentTotalScore"
			type="com.ruoogle.teach.meta.CourseStudentTotalScore" />

		<typeAlias alias="CoursePercentTypeDemo"
			type="com.ruoogle.teach.meta.CoursePercentTypeDemo" />
		<typeAlias alias="CourseStudent" type="com.ruoogle.teach.meta.CourseStudent" />
		<typeAlias alias="Specialty" type="com.ruoogle.teach.meta.Specialty" />
		<typeAlias alias="FeedBack" type="com.ruoogle.teach.meta.FeedBack" />
		<typeAlias alias="Interactive" type="com.ruoogle.teach.meta.Interactive" />
		<typeAlias alias="Journal" type="com.ruoogle.teach.meta.Journal" />
		<typeAlias alias="Semester" type="com.ruoogle.teach.meta.Semester" />

	</typeAliases>
	<mappers>
		<mapper resource="com/ruoogle/teach/mapper/xml/ClassMapper.xml" />
		<mapper resource="com/ruoogle/teach/mapper/xml/CourseMapper.xml" />
		<mapper
			resource="com/ruoogle/teach/mapper/xml/CoursePercentTypeGroupMapper.xml" />
		<mapper
			resource="com/ruoogle/teach/mapper/xml/CoursePercentTypeGroupStudentMapper.xml" />
		<mapper
			resource="com/ruoogle/teach/mapper/xml/CoursePercentTypeGroupStudentScoreMapper.xml" />

		<mapper
			resource="com/ruoogle/teach/mapper/xml/CoursePercentTypeStageMapper.xml" />
		<mapper resource="com/ruoogle/teach/mapper/xml/CoursePropertyMapper.xml" />
		<mapper resource="com/ruoogle/teach/mapper/xml/CourseScorePercentMapper.xml" />
		<mapper
			resource="com/ruoogle/teach/mapper/xml/CourseScorePercentPropertyMapper.xml" />
		<mapper
			resource="com/ruoogle/teach/mapper/xml/CourseStudentPropertyScoreMapper.xml" />
		<mapper
			resource="com/ruoogle/teach/mapper/xml/CourseStudentPropertySemesterScoreMapper.xml" />
		<mapper resource="com/ruoogle/teach/mapper/xml/CourseStudentScoreMapper.xml" />
		<mapper
			resource="com/ruoogle/teach/mapper/xml/CourseStudentTotalScoreMapper.xml" />
		<mapper resource="com/ruoogle/teach/mapper/xml/ProfileMapper.xml" />
		<mapper resource="com/ruoogle/teach/mapper/xml/CourseStudentMapper.xml" />
		<mapper resource="com/ruoogle/teach/mapper/xml/CoursePercentTypeDemoMapper.xml" />
		<mapper resource="com/ruoogle/teach/mapper/xml/SpecialtyMapper.xml" />
		<mapper resource="com/ruoogle/teach/mapper/xml/FeedBackMapper.xml" />

		<mapper resource="com/ruoogle/teach/mapper/xml/InteractiveMapper.xml" />
		<mapper resource="com/ruoogle/teach/mapper/xml/JournalMapper.xml" />
		<mapper resource="com/ruoogle/teach/mapper/xml/SemesterMapper.xml" />


	</mappers>
</configuration>