<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoogle.teach.mapper.ClassMapper">
	<resultMap type="Class" id="classMap ">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="specialtyId" column="specialtyId" />
		<result property="semesterCount" column="semesterCount" />
		<result property="startYear" column="startYear" />
		<result property="studentCount" column="studentCount" />
		<result property="specialty" column="specialty" />
		<result property="shortSpecialty" column="shortSpecialty" />

	</resultMap>
	<insert id="addClass" parameterType="Class">
		INSERT INTO TB_Class
		(
		name,specialtyId,semesterCount,startYear,studentCount,shortSpecialty,specialty
		)
		VALUES(
		#{name},#{specialtyId},#{semesterCount},#{startYear},#{studentCount},#{shortSpecialty},#{specialty}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<select id="getClassById" resultType="Class">
		SELECT *
		from TB_Class
		WHERE
		id=#{id};
	</select>
	<select id="getClassListBySpecialty" resultType="Class">
		SELECT *
		from
		TB_Class
		WHERE
		specialtyId=#{specialtyId} order by id desc;
	</select>

	<select id="getAllClass" resultType="Class">
		SELECT *
		from
		TB_Class order
		by id desc;
	</select>
	<update id="updateClassStudentCount" flushCache="true"
		statementType="PREPARED">
		UPDATE
		TB_Class
		set
		studentCount=#{count}
		WHERE
		id=
		#{classId};
	</update>
	<delete id="deleteClassBySpecialty" flushCache="true"
		statementType="PREPARED">
		delete from TB_Class
		where
		specialtyId=#{specialtyId};
	</delete>

	<delete id="deleteClassById" flushCache="true" statementType="PREPARED">
		delete from TB_Class
		where
		id=#{id};
	</delete>
</mapper>