<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoogle.teach.mapper.CoursePercentTypeMapper">
	<resultMap type="CoursePercentType" id="CoursePercentTypeMap ">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="desc" column="desc" />
	</resultMap>
	<insert id="addCoursePercentType" parameterType="CoursePercentType"> INSERT INTO
		TB_Course_PercentType (id,name,desc )VALUES( #{id},#{name},#{desc})
	</insert>
</mapper>