<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoogle.teach.mapper.InteractiveMapper">
	<resultMap type="Interactive" id="interactiveMap ">
		<id property="id" column="id" />
		<result property="userId" column="userId" />
		<result property="content" column="content" />
		<result property="courseId" column="courseId" />
		<result property="forwardId" column="forwardId" />
		<result property="photoUrl" column="photoUrl" />
		<result property="CreateTime" column="CreateTime" />
		<result property="status" column="status" />
	</resultMap>
	<insert id="addInteractive" parameterType="Interactive">
		INSERT INTO
		TB_Interactive
		(userId,content,courseId,forwardId,photoUrl,CreateTime,status
		)VALUES(
		#{userId},#{content},#{courseId},#{forwardId},#{photoUrl},#{CreateTime},#{status})
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>
</mapper>