<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoogle.teach.mapper.SemesterMapper">
	<resultMap type="Semester" id="semesterMap ">
		<id property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>


	<insert id="addSemester" parameterType="Semester">
		INSERT INTO TB_Semester
		(
		name
		)VALUES(
		#{name}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<select id="getAllSemester" resultType="Semester">
		SELECT *
		from TB_Semester order by id desc;
	</select>

	<delete id="deleteSelemster" flushCache="true" statementType="PREPARED">
		delete from TB_Semester
		where id=#{id};
	</delete>
</mapper>