<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ruoogle.teach.mapper.CourseStudentPropertySemesterScoreMapper">
	<resultMap type="CourseStudentPropertySemesterScore" id="courseStudentPropertySemesterScoreMap ">
		<id property="id" column="id" />
		<result property="semesterId" column="semesterId" />
		<result property="propertyId" column="propertyId" />
		<result property="score" column="score" />
		<result property="studentId" column="studentId" />

	</resultMap>
	<insert id="addCourseStudentPropertySemesterScore"
		parameterType="CourseStudentPropertySemesterScore">
		INSERT INTO TB_Course_Student_Property_SemesterScore
		(
		semesterId,propertyId,score ,studentId
		)VALUES(
		#{semesterId},#{propertyId},#{score},#{studentId}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>
	<select id="getCourseStudentPropertySemesterScoreByStudentIdSemester"
		resultType="CourseStudentPropertySemesterScore">
		SELECT *
		from
		TB_Course_Student_Property_SemesterScore
		WHERE
		semesterId=#{semesterId} and studentId=#{studentId};
	</select>
	<update id="updateCourseStudentPropertySemesterScore"
		flushCache="true" parameterType="CourseStudentPropertySemesterScore"
		statementType="PREPARED">
		UPDATE
		TB_Course_Student_Property_SemesterScore
		set
		score=#{score}
		WHERE
		id =#{id};
	</update>
	<delete id="deleteCourseStudentPropertySemesterScore"
		flushCache="true" statementType="PREPARED">
		delete from
		TB_Course_Student_Property_SemesterScore
		WHERE
		semesterId=#{semesterId} and
		studentId=#{studentId} ;
	</delete>

</mapper>