<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoogle.teach.mapper.CourseStudentTotalScoreMapper">
	<resultMap type="CourseStudentTotalScore" id="courseStudentTotalScoreMap ">
		<id property="id" column="id" />
		<result property="courseId" column="courseId" />
		<result property="studentId" column="studentId" />
		<result property="score" column="score" />
		<result property="semester" column="semester" />
	</resultMap>
	<insert id="addCourseStudentTotalScore" parameterType="CourseStudentTotalScore">
		INSERT
		INTO TB_Course_Student_TotalScore
		(
		courseId,studentId,score,semester
		)VALUES(
		#{courseId},#{studentId},#{score},#{semester}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>
	<select id="getCourseStudentTotalScores" resultType="CourseStudentTotalScore">
		SELECT *
		from
		TB_Course_Student_TotalScore
		WHERE courseId=#{courseId};
	</select>
</mapper>