<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoogle.teach.mapper.CoursePercentTypeGroupMapper">
	<resultMap type="CoursePercentTypeGroup" id="coursePercentTypeGroupMap ">
		<result property="id" column="id" />
		<result property="courseId" column="courseId" />
		<result property="count" column="count" />
	</resultMap>
	<insert id="addCoursePercentTypeGroup" parameterType="CoursePercentTypeGroup">
		INSERT INTO
		TB_Course_PercentType_Group
		(
		id,courseId,count
		)VALUES(
		#{id},#{courseId},#{count}
		)
		
		</insert>
	<select id="getCoursePercentTypeGroup" resultMap="Course">
		SELECT *
		from
		TB_Course_PercentType_Group
		WHERE courseId=#{courseId};
	</select>

	<select id="getCoursePercentTypeGroupCountByIds" resultType="int">
		SELECT count(*)
		from
		TB_Course_PercentType_Group
		WHERE
		courseId=#{courseId};
	</select>



</mapper>