<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoogle.teach.mapper.CoursePropertyMapper">
	<resultMap type="CourseProperty" id="CoursePropertyMap ">
		<result property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>
	<insert id="addCourseProperty" parameterType="CourseProperty"> INSERT INTO
		TB_Course_Property (id,name )VALUES( #{id},#{name})</insert>

	<select id="getCourseScorePercentPropertyByCourseId" resultMap="CourseProperty">
		SELECT *
		from TB_Course_Property;
	</select>

</mapper>