<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoogle.teach.mapper.CoursePercentTypeDemoMapper">
	<resultMap type="CoursePercentTypeDemo" id="coursePercentTypeDemoMap ">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="demoJson" column="demoJson" />
	</resultMap>
	<insert id="addCoursePercentTypeDemo" parameterType="CoursePercentTypeDemo">
		INSERT INTO
		TB_Course_PercentType_Demo (name,demoJson )VALUES(
		#{name},#{demoJson})
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>
</mapper>