<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ruoogle.teach.mapper.CourseStudentPropertySemesterScoreMapper">
	<resultMap type="CourseStudentPropertySemesterScore" id="courseStudentPropertySemesterScoreMap ">
		<result property="id" column="id" />
		<result property="semester" column="semester" />
		<result property="propertyId" column="propertyId" />
		<result property="score" column="score" />
	</resultMap>
	<insert id="addCourseStudentPropertySemesterScore"
		parameterType="CourseStudentPropertySemesterScore"> INSERT INTO TB_Course_Student_Property_SemesterScore
		(id,semester,propertyId,score )VALUES(
		#{id},#{semester},#{propertyId},#{score})</insert>
</mapper>