<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoogle.teach.mapper.InteractiveMapper">
	<resultMap type="Interactive" id="interactiveMap ">
		<id property="id" column="id" />
		<result property="userId" column="userId" />
		<result property="content" column="content" />
		<result property="courseId" column="courseId" />
		<result property="forwardId" column="forwardId" />
		<result property="photoUrl" column="photoUrl" />
		<result property="CreateTime" column="CreateTime" />
		<result property="status" column="status" />
		<result property="showUserId" column="showUserId" />
		<result property="oriid" column="oriid" />

	</resultMap>
	<insert id="addInteractive" parameterType="Interactive">
		INSERT INTO
		TB_Interactive
		(userId,content,courseId,forwardId,photoUrl,CreateTime,status,showUserId,oriid
		)VALUES(
		#{userId},#{content},#{courseId},#{forwardId},#{photoUrl},#{CreateTime},#{status},#{showUserId},#{oriid}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<select id="getInteractiveListByShowUserId" parameterType="long"
		resultType="Interactive">
		SELECT *
		from TB_Interactive
		WHERE showUserId=#{showUserId} order by
		createTime desc
		<if test="offset >=0 ">
			limit #{limit} offset #{offset};
		</if>
		;
	</select>

	<select id="getInteractieTotalCount" parameterType="long"
		resultType="int">
		SELECT count(*)
		from TB_Interactive
		WHERE
		showUserId=#{showUserId}

		;
	</select>

	<select id="getInteractive" resultType="Interactive">
		SELECT *
		from
		TB_Interactive
		WHERE
		id=#{id}
		;
	</select>

	<select id="getInteractiveListByShowUserIdForwardId"
		parameterType="long" resultType="Interactive">
		SELECT *
		from TB_Interactive
		WHERE showUserId=#{showUserId} and
		forwardId = #{forwardId} order by
		createTime desc
		<if test="offset >=0 ">
			limit #{limit} offset #{offset};
		</if>
		;
	</select>

	<delete id="deleteInteractive" flushCache="true" statementType="PREPARED">
		delete from TB_Interactive
		where
		id=#{id};
	</delete>

	<delete id="deleteInteractiveByOriId" flushCache="true"
		statementType="PREPARED">
		delete from TB_Interactive
		where
		oriid=#{oriid};
	</delete>



</mapper>