<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoogle.teach.mapper.JournalMapper">
	<resultMap type="Journal" id="journalMap ">
		<id property="id" column="id" />
		<result property="userId" column="userId" />
		<result property="content" column="content" />
		<result property="courseId" column="courseId" />
		<result property="type" column="type" />
		<result property="CreateTime" column="CreateTime" />
	</resultMap>
	<insert id="addJournal" parameterType="Journal">
		INSERT INTO TB_Journal
		(
		userId,content,courseId,type,CreateTime
		)VALUES(
		#{userId},#{content},#{courseId},#{type},#{CreateTime}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<select id="getJournalsByUserId" resultType="Journal">
		SELECT *
		from
		TB_Journal
		WHERE
		userId=#{userId} and courseId =#{courseId} and
		type=#{type};
	</select>

</mapper>