<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoogle.teach.mapper.ProfilePropertyMapper">
	<resultMap type="ProfileProperty" id="profilePropertyMap ">
		<id property="id" column="id" />
		<result property="userId" column="userId" />
		<result property="name" column="name" />
		<result property="propertyId" column="propertyId" />
		<result property="score" column="score" />
	</resultMap>
	<insert id="addProfileProperty" parameterType="ProfileProperty">
		INSERT INTO
		TB_Profile_Property (userId,name,propertyId,score )VALUES(
		#{userId},#{name},#{propertyId},#{score})
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<select id="getProfileProperty" resultType="ProfileProperty">
		SELECT *
		from
		TB_Profile_Property
		WHERE userId=#{userId} ;
	</select>
</mapper>