<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoogle.teach.mapper.ProfileMapper">
	<resultMap type="Profile" id="profileMap">
		<id property="userId" column="userId" />
		<result property="userName" column="userName" />
		<result property="password" column="password" />
		<result property="createTime" column="createTime" />
		<result property="level" column="level" />
		<result property="classId" column="classId" />
		<result property="name" column="name" />
		<result property="status" column="status" />
		<result property="number" column="number" />
	</resultMap>

	<insert id="addProfile" parameterType="Profile">
		INSERT INTO
		TB_Profile(
		userName,
		password,
		createTime,
		level,
		classId,
		name,
		status,
		number
		)VALUES(
		#{userName},
		#{password},
		#{createTime},
		#{level},
		#{classId},
		#{name},
		#{status},
		#{number}
		)
		<selectKey keyProperty="userId" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>
	<select id="getProfileListByLevel" parameterType="long"
		resultMap="profileMap">
		SELECT *
		from TB_Profile
		WHERE level=#{level} and status=0 order by userId desc
		<if test="offset >=0 ">
			limit #{limit} offset #{offset};
		</if>
		;
	</select>
	<select id="getProfile" parameterType="long" resultType="Profile">
		SELECT *
		from TB_Profile
		WHERE UserId=#{UserId} and status=0;
	</select>

	<select id="getProfileByUserName" resultType="Profile">
		SELECT *
		from
		TB_Profile
		WHERE userName=#{userName} and status=0;
	</select>

	<select id="getProfileByClassId" resultType="Profile">
		SELECT *
		from
		TB_Profile
		WHERE classId=#{classId} and status=0 and level=#{level}
		order by userId asc
		<if test="offset >=0 ">
			limit #{limit} offset #{offset};
		</if>
		;
	</select>

	<select id="getProfileListWithTeacher" resultType="Profile">
		SELECT *
		from
		TB_Profile
		WHERE (level=1 or level=2) and status=0 order by userId asc
		<if test="offset >=0 ">
			limit #{limit} offset #{offset};
		</if>
		;
	</select>


	<select id="getMaxProfileByNumber" resultType="Profile">
		SELECT *
		from
		TB_Profile
		WHERE classId=#{classId} and status=0 order by number desc limit 1;
	</select>
	<update id="updateProfilePassword" flushCache="true"
		statementType="PREPARED">
		UPDATE
		TB_Profile
		set
		password=#{password}
		WHERE
		userId=
		#{userId};
	</update>
	
	<update id="updateProfileStatus" flushCache="true"
		statementType="PREPARED">
		UPDATE
		TB_Profile
		set
		status=#{status}
		WHERE
		userId=
		#{userId};
	</update>
	
	<select id="getProfileListByIds" resultType="Profile"
		parameterType="list">
		SELECT * from TB_Profile where  status=0 and 
		userId in
		<foreach item="item" collection="userIds" index="index" open="("
			separator="," close=")">
			#{item} 
	     </foreach>
		;
	</select>

	<delete id="deleteProfileByClassId" flushCache="true"
		statementType="PREPARED">
		delete from TB_Profile
		where classId=#{classId} ;
	</delete>

	<delete id="deleteProfileByUserId" flushCache="true"
		statementType="PREPARED">
		delete from TB_Profile
		where userId=
		#{userId} ;
	</delete>
</mapper>