<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoogle.teach.mapper.SpecialtyMapper">
	<resultMap type="Specialty" id="specialtyMap ">
		<id property="id" column="id" />
		<result property="specialty" column="specialty" />
		<result property="shortSpecialty" column="shortSpecialty" />
	</resultMap>
	<insert id="addSpecialty" parameterType="Specialty">
		INSERT INTO
		TB_Specialty (specialty,shortSpecialty )VALUES(
		#{specialty},#{shortSpecialty})
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<select id="getpecialtyById" resultType="Specialty">
		SELECT *
		from TB_Specialty
		WHERE
		id=#{id};
		
	</select>
</mapper>